nav {
  width: 100%;
  height: 60px;
  background-color: dimgray;
  padding-top: 5px;
  box-sizing: border-box;
}
ul {
  display: flex;
}
li {
  list-style: none;
}
a {
  display: block;
  text-decoration: none;
  color: white;
  margin-right: 35px;
}

/* menuマウスホバー時 */
.home:hover{
color:#336666;
}
.Research:hover{
color:#336666;
}
.Date:hover{
color:#336666;
}
.Publication:hover{
color:#336666;
}
.Presentation:hover{
color:#336666;
}
.CV:hover{
color:#336666;
}
.Links:hover{
color:#336666;
}

/* menuマウスホバー時 */
.nav-list>li.current>a {
color:red;
}
